.events {
    margin:10px 0px;
    border-radius: 30px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}






.event-lists {
    margin-bottom: 20px;
}


.event-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
}

.event-item-image {
    width: 80px;
}


.event-item-image img {
    width: 100%;
    height:100vh;
    height: auto;
    object-fit: cover;
    border:#A5582C solid 1px;
    border-radius: 50%;
}

.event-item-info {
    flex-grow: 1;
    margin-left: 20px;
}

.event-item-info h4 {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: #333;
}

.event-item-info p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #666;
}

.event-item:hover{
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.btn{
    border-radius: 50px;
    background-color: #A5582C;
    color:#ffffff;
    padding: 9px 20px;
    border:none;
    font-size: small;
    transition: all 0.3s ease 0s;
}

.btn:hover{
    cursor: pointer;
    background-color: #ffffff;
    color: #A5582C;
    border:#A5582C solid 1.5px;
}

.event-features{
    display:flex;
    justify-content: space-around;
    row-gap: 2px;
}
