@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.hero{
    padding:10px 10%;
    font-family: "Meriweather";
    word-spacing: 5px;
    
}

.hero h1{
    text-align: center;
    font-weight: 900;
    font-size: xx-large;
    margin-bottom: 10px;
}


.hero .image_container{
    position: relative;
    width:100%;
    background-color: #ecc194;
    height: auto;
    width: auto;
    
}

.hero .image_container .main_hero_image{
    position: absolute;
    top:0;
    left:0;
}

