:host{
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    cursor:pointer;
    height:100%;
    padding: 0rem 0.3rem 0rem 0.5rem;
    border-bottom: 1px solid #a5582c;
}

:host.active{
    font-weight: bold;
    border: 1px solid #a5582c;
    border-bottom: none;
    background-color: #ecc194;
}
.close-btn:hover{
    border:1px solid black;
    background-color: rgba(0,0,0,0.1);
    cursor:pointer
}