
.heading h1{
    margin:5px 0px;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}
.product-img{
    /* margin: 0px 5px;
   margin-top: 20px; */
}
.product-img img{
     width: 100vh;
     border:#a5582c 1px solid;
     border-radius:50% ;
     box-shadow: rgba(0, 0, 0, 0.3);
    /* height: 70%;
    border-radius: 30px;  */
}

#productDetailId{
    background-color: whitesmoke;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}



.input-group{
justify-content: center;
}

.product-info .btn{    
    color:white;
    margin-top: 3px;
}
.product-info{
    margin-bottom: 10px;
}
.product-info h1{
    margin:5px 0px;
    padding-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

.product-info h3{
    margin:5px 0px;
    padding-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
}

.product-info span{
    color:#a5582c;
}

.invite-btn{
    border: #a5582c 1px solid;
    border-radius: 50px;
    width:50%;
    margin-left: 150px;
    display: flex;
    justify-content: space-around;
}
.invite-btn:hover{
    background-image: linear-gradient(-45deg, #a5582c 0%, #ecc194 100%) !important;
}

.invite-btn .btn:hover{
    color:white
}
.invite-btn .btn{
    color:#a5582c
}

.Input{
    border:none;
    width:100%;
}

.Input:focus{
    border-radius: 10px;
    outline: none;
}

.modal-footer .btn-primary{
    background-image: linear-gradient(-45deg, #a5582c 0%, #ecc194 100%) ;
    border:none;
    border-radius: 50px;
}

.modal-footer .btn-primary:hover{
    background-color: whitesmoke;
    border:1px solid #a5582c;
    color:#a5582c;
    
}

.modal-footer .btn-secondary{
    border-radius: 50px;
    background-color: #383b38;
    color:white;
}
.close{
    background-color: transparent;
    border: none;
    font-size: large;
}

.accept-btn{
    border: #a5582c 1px solid;
    border-radius: 50px;
    width:50%;
    margin-left: 150px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
.accept-btn:hover{
    /* background-image: linear-gradient(-45deg, #a5582c 0%, #ecc194 100%) !important; */
    background-color: #378b29;
    background-image: linear-gradient(315deg, #378b29 0%, #ffffff 74%);

}

.accept-btn .btn:hover{
    color:white
}
.accept-btn .btn{
    color:#a5582c
}

.reject-btn{
    border: #a5582c 1px solid;
    border-radius: 50px;
    width:50%;
    margin-left: 150px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
.reject-btn:hover{
    /* background-image: linear-gradient(-45deg, #a5582c 0%, #ecc194 100%) !important; */
    background-color: #ff7878;
    background-image: linear-gradient(315deg, #ff7878 0%, #ff0000 74%);
    

}

.reject-btn .btn:hover{
    color:white
}
.reject-btn .btn{
    color:#a5582c
}



