<div class="hero">
  <h1 class="hero-text">Listed <span style="color: #A5582C;">Events</span></h1>

  <!--Cart section-->
  <section class="event-list">
    <div class="event-features">
        <a routerLink="/add-event" class="btn rounded-full mb-3">List New Event</a>
    </div>
    
   
    <div class="tab-section">
        <nav>
            <ul>
                <li (click)="insertComponent('All Events')">All Events</li>
                <li (click)="insertComponent('Your Events')">Your Events</li>
                <li (click)="insertComponent('Your Invites')">Your Invites</li>
            </ul>
        </nav>
        <main>
            <app-TabControl></app-TabControl>
        </main>
      
    </div>
    

 </section>

</div>
